{% extends "base.html.twig" %}

{% block title %}Carrosserie{% endblock %}

{% block body %}
    <section class="row">
        <div class="col-md-6 d-flex justify-content-center">
            <img src={{ asset('assets/uploads/service2.jpg') }} alt="">
        </div>
        <div class="col-md-6">
            <div class="w-75 m-auto">
                {{ form(form) }}
            </div>
        </div>
    </section>

{% endblock %}