{% extends "base.html.twig" %}

{% block title %}Carrosserie{% endblock %}

{% block body %}
    <section class="row m-5">
        <h2>Demandez nous un devis</h2>
        <div class="col-md-6 d-flex justify-content-center">
            <img src={{ asset('assets/uploads/service2.jpg') }} alt="">
        </div>
        <div class="col-md-6">
            <div class="w-75 m-auto">
                {{ form_start(form, {'attr': {'class': 'cform'}}) }}
                    {{ form_widget(form) }}
                    <button class="btn-form">Envoyer</button>
                {{ form_end(form) }}
            </div>
        </div>
    </section>

{% endblock %}