{% extends "base.html.twig" %}

{% block title %}Mecanique{% endblock %}

{% block body %}

<h2>Mecanique</h2> 
<section class="min-vh-100">
    <div class="row justify-content-center">
     {% for service in services %}
       
        <div class="card col-sm-8 col-md-2 m-3">
            <img src={{ asset(service.picture) }} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ service.name }}</h5>
                <div class="card-text d-flex m-auto">
                    <ul class="list-unstyled">
                        <li>{{ service.description }}</li>
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
   </div>
</section>
    

{% endblock %}