{% extends 'base.html.twig' %}

{% block title %}Modifier utiulisateur{% endblock %}

{% block body %}
    <div class="w-75 m-auto min-vh-100">
        <h2>Modifier {{ user.lastname }} {{ user.firstname }}</h2>
        {{ include('admin/users/_form.html.twig') }}
        <a href="{{ path('admin_users_index') }}">
            <button class="btn btn-info mt-2">Retour à la liste</button>
        </a>
    </div>
{% endblock %}
