{% extends "base.html.twig" %}
{% block title %}Administration{% endblock %}
{% block body %}
    <section class="row">
        {% include "_partials/_adminNavbar.html.twig" %}
        <div class="col-9 border border-light p-2">
            <h2>Administration</h2>
        </div>
    </section>
{% endblock %}