{% extends "base.html.twig" %}

{% block title %}times{% endblock %}

{% block body %}
    <div class="col-9 m-auto">
        <h2>Ajouter Horaires</h2>
        <div class="w-75 m-auto">
            {% include "admin/times/_form.html.twig" %}
        </div>
        <a href="{{ path('admin_times_index') }}">
            <button class="btn btn-info">Retour à la liste</button>
        </a>
    </div>
{% endblock %}