{% extends 'base.html.twig' %}

{% block title %}New Workshops{% endblock %}

{% block body %}
    <h1>Create new Workshops</h1>

    {{ include('admin/workshops/_form.html.twig') }}

    <a href="{{ path('admin_workshops_index') }}">back to list</a>
{% endblock %}
