{% extends "base.html.twig" %}

{% block title %}New Brand{% endblock %}

{% block body %}
    
    <div class="col-9 m-auto">
        <h1>New Brand</h1>

       <div class="w-75 m-auto">
          {{ include('admin/brands/_form.html.twig') }}
       </div>
        <a href="{{ path('admin_brands_index') }}">back to list</a>
    </div>

{% endblock %}