{% extends "base.html.twig" %}

{% block title %}Voiture{% endblock %}

{% block body %}
    <div>
        {% include "admin/cars/_filters.html.twig" %}   
    </div>

    <section class="row">
    {% include "_partials/_adminNavbar.html.twig" %}
    <div class="col-9">

        <h2>Liste des voitures</h2>
        <a href="{{ path('admin_cars_new') }}"><button class="btn btn-primary">Ajouter</button></a>  

        <div id="js-filter-sorting">
            {% include "admin/cars/_sorting.html.twig" %}
        </div>

        <div id="js-filter-content">
            {% include "admin/cars/_content.html.twig" %}
        </div>

        </div>
    </section>

    <div class="navigation" id="js-filter-pagination">
        {% include "admin/cars/_pagination.html.twig" %}
    </div> 

{% block javascript %}
    <script src="{{ asset('assets/js/filters.js') }}"></script>
{% endblock %}

{% endblock %}