{% extends "base.html.twig" %}

{% block title %}Voiture{% endblock %}

{% block body %}
    <div>
        {% include "admin/cars/_filters.html.twig" %}   
    </div>

    <div id="js-filter-content">
        {% include "admin/cars/_content.html.twig" %}
    </div>
{% endblock %}