{% extends "base.html.twig" %}

{% block title %}Ajout voiture{% endblock %}

{% block body %}
    <div class="w-75 m-auto min-vh-100">
        <h2>Ajout d'un nouveau véhicule</h2>
        {% include "admin/cars/_form.html.twig" %}
        <a href="{{ path('admin_cars_index') }}">
            <button class="btn btn-info mt-2">Retour à la liste</button>
        </a>
    </div>
{% endblock %}