{% extends 'base.html.twig' %}

{% block title %}Modifier Service{% endblock %}

{% block body %}
    <div class="w-75 m-auto min-vh-100">
        <h2>Modifier {{ service.name }}</h2>
        {{ include('admin/services/_form.html.twig', {'btn': 'btn-warning', 'button_label': 'Modifier'}) }}
        <a href="{{ path('admin_services_index') }}">
            <button class="btn btn-info mt-2">Retour à la liste</button>
        </a>
    </div>
{% endblock %}
