{% extends "base.html.twig" %}

{% block title %}Index Comments{% endblock %}

{% block body %}
    <section class="m-5 d-flex flex-column align-items-center">
    <h2>Liste des commentaires</h2>
        {% for comment in comments %}
        {% if comment.valid %}
            <div class="card col-12 m-3">
            <div class="card-body">
                <h5 class="card-title">{{ comment.lastname}} - {{ comment.firstname }}</h5>
                <div class="card-text d-flex m-auto">
                    <p>{{ comment.content }}</p>
                </div>
                <span>{{ comment.createdAt.format('d/m/Y') }}</span>
            </div>
            </div>
        {% endif %}     
        {% endfor %}
    </section>
{% endblock %}