{% extends "base.html.twig" %}

{% block title %}Nouveau Commentaire{% endblock %}

{% block body %}
<div class="w-75 vh-100 mx-auto my-5">
    <h2>Ajoutez un commentaire</h2>
    {% include "comments/_form.html.twig" %}
</div>
    
{% endblock %}