{% extends "base.html.twig" %}

{% block title %}Voiture{% endblock %}

{% block body %}
    <div>
        {% include "cars/_filters.html.twig" %}   
    </div>

    <div id="js-filter-sorting" class="w-75 m-auto">
       {% include "cars/_sorting.html.twig" %}
    </div>

    <div class="container mb-5">
        <div class="row d-flex justify-content-center" id="js-filter-content">
            {% include "cars/_content.html.twig" %}
        </div>
    </div>

    <div class="navigation"  id="js-filter-pagination">
        {% include "cars/_pagination.html.twig" %}
    </div> 

{% block javascript %}
    <script src="{{ asset('assets/js/filters.js') }}"></script>
{% endblock %}

{% endblock %}
