{% extends "base.html.twig" %}

{% block title %}Modifier commentaire{% endblock %}
{% block body %}
<div class="col-9 m-auto min-vh-100">
    <h2>Modifier commentaire {{comment.id}}</h2>
    <div class="w-75 m-auto">
        {% include "admin/comments/_form.html.twig" %}
    </div>
    <a href="{{ path('admin_comments_index') }}">
        <button class="btn btn-info">Retour à la liste</button>
    </a>
</div>
{% endblock %}