{% extends 'base.html.twig' %}

{% block title %}Index types{% endblock %}

{% block body %}
<section class="row">
    {% include "_partials/_adminNavbar.html.twig" %}
    <div class="col-9">
        <h2>Types index</h2>
        <a href="{{ path('admin_types_new') }}">
            <button class="btn btn-primary">Ajouter</button>
        </a>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
            {% for type in types %}
                <tr>
                    <td>{{ type.id }}</td>
                    <td>{{ type.name }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}
